body{
    background:#FAF9F6;
    color:#2C3E50;
    font-family:Georgia, serif;
}

/* CABEÇALHO */

header{
    padding:30px 60px;
}

.topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.topo h1{
    color:#1F4E79;
    font-size:3rem;
}

.topo span{
    color:#FF7F50;
    font-style:italic;
    font-weight:normal;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#1F4E79;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#FF7F50;
}

.linha{
    height:3px;
    background:#1F4E79;
    margin:20px 0;
}

.edicao{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#1F4E79;

    color:white;

    padding:15px 25px;

    font-weight:bold;

    letter-spacing:1px;
}
.projetos-page{

    max-width:1400px;

    margin:30px auto;

    background:#FAF9F6;

    border:5px double #1F4E79;

    padding:50px;
}

.cabecalho-projetos{
    text-align:center;
    margin-bottom:60px;
}

.cabecalho-projetos h1{

    color:#1F4E79;

    font-size:5rem;

    line-height:0.9;

    text-transform:uppercase;

    margin:20px 0;
}

.projetos-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:25px;

    margin-bottom:70px;
}

.projeto-card{

    background:white;

    border:3px double #1F4E79;

    padding:25px;

    min-height:350px;

    transition:.3s;
}

.projeto-card:hover{

    transform:translateY(-6px);

    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.projeto-card h2{

    color:#FF7F50;

    text-align:center;

    margin-bottom:15px;
}

.projeto-card h4{

    color:#1F4E79;

    text-align:center;

    margin-bottom:20px;

    font-style:italic;
}

.projeto-card p{

    color:#1F4E79;

    line-height:1.9;

    margin-bottom:15px;

    font-size:1.05rem;
}

.tecnologias{

    margin-top:auto;

    border-top:1px dashed #1F4E79;

    padding-top:15px;

    color:#1F4E79;

    font-weight:bold;
}

/* CERTIFICADOS */

.certificados{

    border-top:2px solid #1F4E79;

    padding-top:50px;
}

.certificados h2{

    text-align:center;

    color:#FF7F50;

    font-size:3.5rem;

    margin-bottom:20px;
}

.certificados-grid{

    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:30px;
}

.certificados-grid img{

    width:100%;

    border:3px double #1F4E79;

    padding:8px;

    background:white;

    transition:.3s;
}

.certificados-grid img:hover{

    transform:scale(1.02);
}